<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ or .Title .Site.Title }}</title>
    {{ $style := resources.Get "sass/style.scss" | toCSS (dict "transpiler" "dartsass" "targetPath" "css/style.css") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <meta name="description" content="{{ or .Description .Site.Params.Description }}">
  </head>
  <body>
    {{ block "page" . }}{{ end }}
  </body>
</html>
